<!DOCTYPE html>
<html lang="fr" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10;http://blank.org/"/>
    <title>Configuration Wi-Fi Octavio</title>
    <link rel="icon" href="img/favicon.ico">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="css/uikit.css">
</head>
<body class="uk-height-1-1">
<div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-width-large uk-padding-small">
        <div class="uk-width-1-1 uk-text-center">
            <p class="uk-text-large">Tentative de connexion...</p>
        </div>
    </div>
</div>

<!-- JS FILES -->
<script src="js/uikit.js"></script>
<script src="js/uikit-icons.min.js"></script>
